@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&display=swap");

:root {
  --green-color: #a3be8c;
  --foreground-color: #3b4252;
  --background-color: #2c323d;
  --font-color: #ffffff;
  --magenta-color: #b48ead;
  --red-color: #bf616a;
  --yellow-color: #ebcb8b;
  --orange-color: #d08770;
  --blue-color: #5e81ac;
  --lightblue-color: #88c0d0;
  --figcaption-color: #d8dee9;
  --font-family: "Fira Code", monospace;
  --scrollbar-track: var(--foreground-color);
  --scrollbar-thumb: var(--blue-color);
  --scrollbar-thumb-hover: var(--lightblue-color);

  line-height: 1.5;
  font-family: var(--font-family);
  font-size: 20px;
  color: var(--font-color);
  background-color: var(--background-color);
}
body {
  margin: 0 auto;
  max-width: 38em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}
::-webkit-scrollbar {
  /* width */
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  height: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-track-piece {
  background: var(--scrollbar-track);
}
@media (max-width: 600px) {
  body {
    font-size: 0.9em;
    padding: 1em;
  }
  h1 {
    font-size: 1.8em;
  }
}
@media print {
  body {
    background-color: transparent;
    color: black;
    font-size: 12pt;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }
}
p {
  margin: 1em 0;
}
img {
  /* max-width: 100%; */
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.4em;
  color: var(--green-color);
}
h5,
h6 {
  font-size: 1em;
  font-style: italic;
}
h6 {
  font-weight: normal;
}
ol,
ul {
  padding-left: 1.7em;
  margin-top: 1em;
}
li > ol,
li > ul {
  margin-top: 0;
}
blockquote {
  margin: 1em 0 1em 1.7em;
  padding-left: 1em;
  border-left: 2px solid #e6e6e6;
  color: #606060;
}
code {
  font-family: var(--font-family);
  font-size: 85%;
  margin: 0;

  display: block;
}
pre {
  margin: 1em 0;
  overflow: auto;
  background-color: #1c212b;
  padding: 20px;
  border-radius: 10px;
}
pre code {
  padding: 0;
  overflow: visible;
  overflow-wrap: normal;
}
.sourceCode {
  background-color: transparent;
  overflow: visible;
}
hr {
  background-color: #1a1a1a;
  border: none;
  height: 1px;
  margin: 1em 0;
}
table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
  font-variant-numeric: lining-nums tabular-nums;
}
table caption {
  margin-bottom: 0.75em;
}
tbody {
  margin-top: 0.5em;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}
th {
  border-top: 1px solid #1a1a1a;
  padding: 0.25em 0.5em 0.25em 0.5em;
}
td {
  padding: 0.125em 0.5em 0.25em 0.5em;
}
header {
  margin-bottom: 4em;
  text-align: center;
}
#TOC li {
  list-style: none;
}
#TOC ul {
  padding-left: 1.3em;
}
#TOC > ul {
  padding-left: 0;
}
#TOC > ul > li > a,
#TOC > ul > li > a:visited {
  color: var(--magenta-color);
  font-size: 1.1rem;
  font-weight: bold;
}
#TOC > ul > li > a:hover {
  color: var(--red-color);
  text-decoration: none;
}
#TOC a:not(:hover) {
  text-decoration: none;
}
#TOC a {
  color: #bdd;
  text-decoration: none;
}
#TOC a:hover,
#TOC a:visited {
  color: var(--green-color);
  text-decoration: none;
}
code {
  white-space: pre-wrap;
}
span.smallcaps {
  font-variant: small-caps;
}
div.columns {
  display: flex;
  gap: min(4vw, 1.5em);
}
div.column {
  flex: auto;
  overflow-x: auto;
}
div.hanging-indent {
  margin-left: 1.5em;
  text-indent: -1.5em;
}
ul.task-list {
  list-style: none;
}
ul.task-list li input[type="checkbox"] {
  width: 0.8em;
  margin: 0 0.8em 0.2em -1.6em;
  vertical-align: middle;
}
strong {
  color: var(--magenta-color);
}
.title {
  color: var(--orange-color);
}
figcaption {
  font-size: 0.8em;
  color: #d8dee9;
  opacity: 0.5;
}
h2 {
  font-weight: bold;
  color: var(--blue-color);
}
a {
  color: var(--yellow-color);
}
a:hover {
  color: var(--red-color);
}